!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', "http-equiv" => "Content-Type"}
    %title Hipstermaps
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.uk-navbar-container.uk-margin{"uk-navbar" => "mode: click"}
      .uk-navbar-left
        %a.uk-navbar-item.uk-logo{ href: root_path } HipsterMaps
        %ul.uk-navbar-nav
          %li.uk-active
            %a{href: new_map_path } Create Map
    = yield
